.contenedor-carrito {
    margin: 2vh;
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.contenedor-carrito .contenedor-info-pago {
    background-color: #fff;
    width: 100%;
    padding: 2vh;
    gap: 2vh;
}

.contenedor-carrito .contenedor-info-pago .info-compra {
    width: 100%;
}

.contenedor-carrito .contenedor-info-pago .cupon {
    width: 100%;
}

.contenedor-carrito .contenedor-info-pago .cupon input {
    width: 100%;
    padding: 1vh;
    background-color: #e1e0e0;
    border: none;
}

.contenedor-carrito .titulo p {
    font-weight: bold;
}

.contenedor-carrito .titulo {
    width: 100%;
}

.contenedor-carrito .titulo .separador {
    width: 100%;
}

.contenedor-carrito .carrito-productos, .carrito-envio, .monto {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carrito-btn-comp {
    position: fixed;
    bottom: 4vh;
    right: 4vh;
    padding: 2vh;
    background-color: #fff;
    border-radius: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.carrito-btn-comp:hover {
    cursor: pointer;
}

.carrito-btn-comp i {
    color: #000;
}

.carrito-abierto-comp {
    display: none;
    flex-direction: column;

    width: 350px;
    height: 500px;

    background: #fff;
    position: fixed;
    bottom: 4.5vh;
    right: 4.5vh;

    padding: 20px;
    box-sizing: border-box;

    align-items: stretch;   /* <- importante */
    gap: 2vh;

    z-index: 10000;
    border-radius: 2vh;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.carrito-abierto-comp .separador {
    width: 100%;
}

#btn-ir-carrito {
    display: none;
}

.producto-carrito {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cont-btn-borrar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cont-btn-borrar-carrito i {
    padding: 10px;
    border-radius: 20vh;
}

.cont-btn-borrar-carrito i:hover {
    background-color: #e53935;
    color: #fff;
    cursor: pointer;
}

#lista-carrito {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.producto-carrito img {
    width: 100px;
    height: 100px;
}

.producto-carrito a {
    display: flex;
    gap: 2vh;
}

.cerrar-carrito {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #e53935;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {

    .contenedor-carrito {
        display: flex;
        flex-direction: column;
    }

    .carrito-abierto-comp {
        width: 80%;
    }


}