.contenedor-productos {
    width: 80%;
}

.contenedor-categorias {
    margin-top: 5vh;
    width: 100%;
}

.contenedor-categorias .categorias {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.categorias ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.categorias ul li {
    list-style: none;
}

.categorias a {
    color: #000;
}

.contenedor-productos .separador {
    margin-top: 2vh;
    width: 100%;
}

.contenedor-productos .seccion-productos {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedor-productos .seccion-productos .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 350px));
    justify-content: center;
    gap: 25px;
    margin: 2vh;
}

@media (max-width: 900px) {

    .contenedor-productos .seccion-productos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-categorias .categorias ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor-productos .seccion-productos .cards {
        grid-template-columns: repeat(2, 1fr);    
    }

}

@media (max-width: 600px) {

    .contenedor-categorias .categorias ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor-productos .seccion-productos .cards {
        grid-template-columns: repeat(auto-fill, minmax(280px, 350px));    
    }

}