.contenedor-productos {
    width: 80%;
}

.contenedor-categorias {
    margin-top: 5vh;
    width: 100%;
}

.contenedor-categorias .categorias {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.categorias ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.categorias ul li {
    list-style: none;
}

.contenedor-productos .separador {
    margin-top: 2vh;
    width: 100%;
}

.productos {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vh;
}

@media (max-width: 900px) {

    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}