footer-comp {
    width: 100%;
}

footer {
    margin: 2vh 0 2vh 0;
    padding: 2vh;
    width: 80%;
    border-radius: 20px;
    background: var(--color-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 3vh;
}

footer .footer-arriba {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    height: 10vh;
    width: auto;
}

footer .footer-arriba .links, .contacto {
    width: 100%;
    display: flex;
    text-align: start;
}

footer .footer-arriba .contacto .texto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

footer .footer-arriba .links .texto {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

footer .sociales {
    gap: 2vh;
}

footer .sociales a {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: start;
}

footer .separador {
    background-color: var(--color-principal);
    height: 1px;
    width: 80%;
}

footer .footer-abajo {
    width: 100%;
    justify-content: space-between;
}

footer .footer-abajo .texto {
    font-weight: bold;
    margin-top: 3px;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
