/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

/* Componentes */

@import url(BreadCrumb.css);
@import url(Nav.css);
@import url(Card.css);
@import url(Button.css);
@import url(Footer.css);
@import url(Home.css);
@import url(Productos.css);

/* Variables */

:root {

    /* Colores */
    --color-principal: #FEF1DC;
    --color-secundario: #5E0083;
    --color-gradient: linear-gradient(180deg, #5E0083 12%, #000 86% );

    /* Fuentes */
    --font-main: "Google Sans Flex", sans-serif;
    --font-alt: "Stack Sans Text", sans-serif;

    /* Transiciones */
    --transition: .3s ease;

}

/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main), var(--font-alt);
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-principal);
}


